<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-quarters box">
        <h1 class="title has-background-primary p-1">Post about it:</h1>
        <%= simple_form_for(@post) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          
          <div class="field">
            <div class="control">
              <%= f.input :content, wrapper: false, input_html: {class: "input textarea"}, label_html: {class: "label"}%>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, class: "button is-pulled-right is-primary" %>
            </div>
          </div>

        <% end %>
        <br>
        <div class="p-1">
          <%= link_to 'Back', posts_path %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
-->