<div class="columns p-4">
  <div class="column is-two-thirds">
  <% @posts.each do |post|%>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <% if user_signed_in?%>
            <%= gravatar_image_tag(post.user.email, size: 64, alt: current_user.name) %>
          <% else %>
            <i class="fas fa-user-circle fa-4x"></i>
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <% if user_signed_in?%>
            <strong><%= post.user.name %></strong> <small><%= post.user.username%></small> <small><%= distance_of_time_in_words(post.created_at, Time.now)%> ago</small>
            <% else %>
              <strong>Anonymous</strong> <small>@anonymous</small> <small><%= distance_of_time_in_words(post.created_at, Time.now)%> ago</small>
            <% end %>

            <br>
            <%= post.content %>           
          </p>
        </div>
      </div>
    </article>
  <% end %>
  </div>
</div>


